
.teste {
	position:static;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-100px;
	padding:10px;
	width:300px;
	height:200px;
	border:1px solid #d0d0d0;
	z-index: 1050;	
}

.buscaend{
	display:block;
  position: relative;
  margin-top: 20px;
  margin-right: 10px;
  float:none;
  z-index:auto;
  
}
	


#map .centerMarker {
  position: absolute;
  /*url of the marker*/
  background: url(../img/position_end.png) no-repeat;
  /*center the marker*/
  top: 50%;
  left: 50%;
  z-index: 1;
  /*fix offset when needed*/
  margin-left: -32px;
  margin-top: -60px;
  /*size of the image*/
  height: 60px;
  width: 60px;
  cursor: pointer;
}
  /* =============== Estilos do autocomplete =============== */

