.panel-right{	
	color:#F7F7F8;
	background-color:#F7F7F8;
}
 .demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }
.infoBox { 
	background-color: #660033; 
	width: 300px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	border-radius: 3px;
	border: 5px solid #4d0026; 
	border-radius: 10px;
	
}
.infoBox p { padding: 0 15px }
.infoboxtitulo { 
	font-size:17px; 
	color:white;
}
.infoboxdesc { 
	font-size:13px;
	color:white;	
}
.infoBox:before { 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-bottom: 10px solid #4d0026; 
	top: -10px; 
	content: ""; 
	height: 0; 
	position: absolute; 
	width: 0; 
	left: 138px 
}
