.dec {
  
  text-indent: -9999px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  float: right;
  text-align: center;
  background: url(../img/menos.png) no-repeat;
  border-style: none;
}

.inc {
	margin: 0 0 0 0px;
  text-indent: -9999px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  background: url(../img/mais.png) no-repeat;
  border-style: none;
}
.page-content{
	margin-top:0px;
	margin-right:-10px;
	margin-bottom:10px;
}
.menuperfil{
	height: 43px;
	width:;
	z-index:3;
	position: relative;
	text-align:right;
	margin-top:50px;
	margin-right:50px;

}
.numeropedido{
	
	text-align:right;
}
.autocomplete-dropdown-in{
	margin-top:-205px;
	z-index:3;
	position: relative;
}

.pesquisa{
	background-color: white;
	height: 43px;
	width: 100%;
	z-index:3;
	position: relative;
}
.map{
	height: 100%;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	position: absolute;
	z-index:-10;
}
.dropSheet
{
    background-color: #000000;
    background-image: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
	height: 100%;
	width: 100%;
	margin-top: -30px;
	margin-bottom: 60px;
	margin-left: -10px;
	margin-right: 50px;
	position: absolute;
	z-index:0;
}
.tour-guide-container-wrapper, 
.tour-guide-toolbar-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.tour-guide-toolbar-wrapper > .toolbar {
    height: 60px;
}

.tour-guide-buttons-row {
    width: 100%;
    text-align: center;
}

.tour-guide-button {
    background-color: #0a6ebd;
    color: #fff;
    border: none;
}

.tour-guide-header {
    height: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.tour-guide-message {
    height: 20%;
    text-align: center;
}
/* Your app custom files in this file */
/* Tab bar icons */
i.tabbar-demo-icon-1 {
  width: 30px;
  height: 30px;
  background-image: url("../img/batedores.png");
}
.active i.tabbar-demo-icon-1 {
   background-image: url("../img/batedoress.png");
}
i.tabbar-demo-icon-2 {
  width: 25px;
  height: 30px;
   background-image: url("../img/pedidos.png");
}
.active i.tabbar-demo-icon-2 {
   background-image: url("../img/pedidoss.png");
}
i.tabbar-demo-icon-3 {
  width: 30px;
  height: 30px;
  background-image: url("../img/novidades.png");
}
.active i.tabbar-demo-icon-3 {
   background-image: url("../img/novidadess.png");
}
i.tabbar-demo-icon-4 {
  width: 25px;
  height: 30px;
  background-image: url("../img/info.png");
}
.active i.tabbar-demo-icon-4 {
 background-image: url("../img/infoo.png");
}
