
	.teste {
position:static;
top:50%;
left:50%;
margin-left:-150px;
margin-top:-100px;
padding:10px;
width:300px;
height:200px;
border:1px solid #d0d0d0;
 z-index: 1050;
}
	.buscaend{
	position: relative;
      width: calc(100% - 10px);
	  top:  65%;
      height: 60px;
      bottom:calc(-100% + 70%);

	}
	.total{
	position: relative;
      width: calc(100% - 10px);
	  top:  10px;
      height: 60px;
      bottom:calc(-100% + 70%);
	  }


#map .centerMarker {
  position: fixed;
  /*url of the marker*/
  background: url(https://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  /*center the marker*/
  top: 50%;
  left: 50%;
  z-index: 1;
  /*fix offset when needed*/
  margin-left: -10px;
  margin-top: -34px;
  /*size of the image*/
  height: 34px;
  width: 20px;
  cursor: pointer;
}