.tour-guide-container-wrapper,
        .tour-guide-toolbar-wrapper {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

        .tour-guide-toolbar-wrapper > .toolbar {
            height: 60px;
        }

        .tour-guide-buttons-row {
            width: 100%;
            text-align: center;
        }

        .tour-guide-button {
            background-color: #0a6ebd;
            color: #fff;
            border: none;
        }

        .tour-guide-header {
            height: 20%;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }

        .tour-guide-message {
            height: 20%;
            text-align: center;
        }
        /* Your app custom files in this file */
        /* Tab bar icons */
        i.tabbar-demo-icon-1 {
          width: 30px;
          height: 30px;
          background-image: url("../img/batedores.png");
        }
        .active i.tabbar-demo-icon-1 {
           background-image: url("../img/batedoress.png");
        }
        i.tabbar-demo-icon-2 {
          width: 25px;
          height: 30px;
           background-image: url("../img/pedidos.png");
        }
        .active i.tabbar-demo-icon-2 {
           background-image: url("../img/pedidoss.png");
        }
        i.tabbar-demo-icon-3 {
          width: 30px;
          height: 30px;
          background-image: url("../img/novidades.png");
        }
        .active i.tabbar-demo-icon-3 {
           background-image: url("../img/novidadess.png");
        }
        i.tabbar-demo-icon-4 {
          width: 25px;
          height: 30px;
          background-image: url("../img/info.png");
        }
        .active i.tabbar-demo-icon-4 {
         background-image: url("../img/infoo.png");
        }
